In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile
import re
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, roc_auc_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import RobustScaler

In [2]:
d_train = pd.read_csv('diamonds_train.csv')
d_test = pd.read_csv('diamonds_test.csv')

In [3]:
d_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 10 columns):
carat      40455 non-null float64
cut        40455 non-null object
color      40455 non-null object
clarity    40455 non-null object
depth      40455 non-null float64
table      40455 non-null float64
price      40455 non-null int64
x          40455 non-null float64
y          40455 non-null float64
z          40455 non-null float64
dtypes: float64(6), int64(1), object(3)
memory usage: 3.1+ MB

In [4]:
d_train.describe().T

,count,mean,std,min,25%,50%,75%,max
carat,40455.0,0.797706,0.475544,0.2,0.40,0.70,1.040,4.50
depth,40455.0,61.752841,1.431725,43.0,61.00,61.80,62.500,79.00
table,40455.0,57.446133,2.233535,43.0,56.00,57.00,59.000,95.00
price,40455.0,3928.444469,3992.416147,326.0,945.00,2397.00,5331.000,18823.00
x,40455.0,5.729392,1.124453,0.0,4.71,5.69,6.540,10.23
y,40455.0,5.732819,1.146650,0.0,4.72,5.71,6.540,58.90
z,40455.0,3.537154,0.697062,0.0,2.91,3.52,4.035,8.06

In [5]:
d_train.shape

(40455, 10)

In [6]:
d_train.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   1.21    Premium     J     VS2   62.4   58.0   4268  6.83  6.79  4.25
1   0.32  Very Good     H     VS2   63.0   57.0    505  4.35  4.38  2.75
2   0.71       Fair     G     VS1   65.5   55.0   2686  5.62  5.53  3.65
3   0.41       Good     D     SI1   63.8   56.0    738  4.68  4.72  3.00
4   1.02      Ideal     G     SI1   60.5   59.0   4882  6.55  6.51  3.95

In [7]:
d_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13485 entries, 0 to 13484
Data columns (total 10 columns):
id         13485 non-null int64
carat      13485 non-null float64
cut        13485 non-null object
color      13485 non-null object
clarity    13485 non-null object
depth      13485 non-null float64
table      13485 non-null float64
x          13485 non-null float64
y          13485 non-null float64
z          13485 non-null float64
dtypes: float64(6), int64(1), object(3)
memory usage: 1.0+ MB

In [8]:
d_test.shape

(13485, 10)

In [9]:
d_train['cut'].unique()

array(['Premium', 'Very Good', 'Fair', 'Good', 'Ideal'], dtype=object)

In [10]:
d_train['color'].unique()

array(['J', 'H', 'G', 'D', 'F', 'E', 'I'], dtype=object)

In [11]:
d_train['clarity'].unique()

array(['VS2', 'VS1', 'SI1', 'SI2', 'IF', 'VVS1', 'VVS2', 'I1'],
      dtype=object)

['carat']: weight is the most important characteristic in a diamond, the more, the better

['cut']: quality of the cut is (worst) 'Fair', 'Good', 'Very Good', 'Premium', 'Ideal' (best)

['color']: diamond colour is (worst) 'J', 'I', 'H', 'G', 'F', 'E', 'D' (best)

['clarity']: a measurement of how clear the diamond is (worst) 'I1', 'SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF' (best)